@font-face {
    font-family: Norse-Bold;
    src: url(../Fonts/Norse-Bold.otf);
}

* {
    margin: 0;
}

body {
    background-color: rgba(0, 0, 0, 0.877);
}

main {
    display: flex;
}

.first-part {}

#cover-picture {
   position: relative;
   width: 450px;
   display: flex;
   flex-direction: column;
   background-size: cover;
   background-position: center;
   
}

.odin-pictures {
    display: flex;
    position: absolute;
    top: 150px;
    background-color: rgb(0, 0, 0, 0.4);
    width: 433px;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
    
}

#odin-icon {  
    width: 15%;
    
}   

#odin-heading {
    color: #FFFFFF;
    font-family: Norse-Bold;
    font-size: 4rem;
}

.second-part {

    background-color: #fffffff5;
    font-family: arial;
    width: 50%;
}  

.heading-tree {
    margin-top: 8rem;
    margin-bottom: 4rem;
    margin-left: 2rem;
    margin-right: 10rem;
    font-size: 1.2rem;

}

.upper-text {
    margin-top: 1rem;

}



fieldset {
    text-decoration: none;
    border: none;
    background-color: #FFFFFF;
}

#h2-text-id {
    
    margin: 1rem 2rem;
    font-weight: 450;
}

label {
    margin-left: 2rem;
    font-size: 0.8rem;
}

#f1-id {
    display: block;
    width: 50px;
}

#f2-id {
    display: inline;
    width: 50px;
}


#email-id {
    display: inline-block;
    width: 50px;
}

#phone-id {
    display: inline;
    width: 50px;   
}

#password1-id {
    display: inline-block;
    width: 50px; 
}

#password2-id {
    display: inline-block;
    width: 50px;
}

input {
    display: block;
    border: 1px solid #E5E7EB;
    padding: 0.5em;
    border-radius: 5px;
    width: 80%;
    margin-left: 2rem;
}

.form-text {
    display: block;
   
}

.sign-btn {
    background-color: #596D48;
    color:#FFFFFF;
    margin: 1.5rem 2rem 1rem 2rem;
    padding: 1em 3em; 
    border: none;
    border-radius: 0.5em;
    font-weight: 700;
    font-size: 16px;
}

.sign-btn:hover{
    text-decoration: underline;
    cursor: pointer;
}

.sign-btn:active {
    background-color: #596d48de;

}

.lower-text {
    margin-top: 0.5rem;
    margin-left: 2rem;
    font-size: 17px;

}

#lower-link {
    margin-left: 5px;
    text-decoration: none;
    color: #596D48;
    font-weight: 550;
}

#lower-link:hover {
    text-decoration: underline;
}

#lower-link:active {
    text-decoration: underline;
    color: #596d4898;
}