@font-face {
    font-family: Norse-Bold;
    src: url(../Fonts/Norse-Bold.otf);
}

* {
    margin: 0;
    
}

body {
    background-color: rgba(0, 0, 0, 0.877);

    
    
}

main {
    justify-content: center;
    display: flex;
    
}

#cover-picture {    
   height: 100vh;
   width: 30vw;
   display: flex;
   flex-direction: column;
   background-size: cover;
   background-position: center;
}


.odin-pictures {
    display: flex;
    position: absolute;
    top: 15vh;
    background-color: rgb(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    width: 30vw;
    
}

#odin-icon {  
    width: 15%;
    
}   

#odin-heading {
    color: #FFFFFF;
    font-family: Norse-Bold;
    font-size: 4vw;
}

.second-part {
    background-color: #fffffff5;
    font-family: arial;
    flex-shrink: 2;
    

}  

.heading-tree {
    width: 60rem;
    margin-top: 8rem;
    margin-bottom: 4rem;
    margin-left: 2rem;
    margin-right: 10rem;
    font-size: 1.2rem;

}

.upper-text {
    margin-top: 1rem;
    margin-right: 20rem;
}



fieldset {
    text-decoration: none;
    border: none;
    background-color: #FFFFFF;
    width: 50vw;
    
    
}

#h2-text-id {
    margin: 1rem 20rem 0 2rem;
    font-weight: 450;
    width: 50rem;
}

label {
    margin-left: 2rem;
    font-size: 0.8rem;
}

.label-form {
   margin: 15px 20px 15px 0;
}

#f1-id {
    display: inline-block; 
}


#f2-id {
    display: inline-block;
 
}

#email-id {
    display: inline-block;
}

#phone-id {
    display: inline-block;
   
}

#password1-id {
    display: inline-block;
}

#password2-id {
    display: inline-block;
}

#password2-id:invalid {
    display: inline-block;
    color:red;
    background-color: red;
}

input {
    display: block;
    border: 1px solid #E5E7EB;
    padding: 0.5em;
    border-radius: 5px;
    width: 80%;
    margin-left: 2rem;
}

input:valid {
    border-color:#596D48;
    background-color: #ecffdb;
}

input:invalid {
    border-color:#b87171;
    background-color: rgba(161, 129, 129, 0.048);
}

.form-text {
    display: block;
   
}

.prompt {
    margin-left: 2rem;
    font-size: 12px;
    font-style: italic;
}

.sign-btn {
    background-color: #596D48;
    color:#FFFFFF;
    margin: 1.5rem 2rem 1rem 2rem;
    padding: 1em 3em; 
    border: none;
    border-radius: 0.5em;
    font-weight: 700;
    font-size: 16px;
}

.sign-btn:hover{
    text-decoration: underline;
    cursor: pointer;
}

.sign-btn:active {
    background-color: #596d48de;

}

.lower-text {
    margin-top: 0.5rem;
    margin-left: 2rem;
    font-size: 17px;

}

#lower-link {
    margin-left: 5px;
    text-decoration: none;
    color: #596D48;
    font-weight: 550;
}

#lower-link:hover {
    text-decoration: underline;
}

#lower-link:active {
    text-decoration: underline;
    color: #596d4898;
}

